*.parquet
*.npy
*.pkl
*.pt
*.txt
.DS_Store
__pycache__/
.ipynb_checkpoints/
data/
fulltrainedmodels/
modelresults/
.env

# Daten-Ordnerstruktur tracken (ohne Dateiinhalte)
!data/
!data/**/.gitkeep
!data/README.md
!fulltrainedmodels/
!fulltrainedmodels/**/.gitkeep
!data/Kaggle_results/
!data/Kaggle_results/**/.gitkeep
